{% extends "base.html" %}

{% block contenido %}

<div class="card-form">

    <h2>📌 CREAR EVENTO</h2>

    <form id="formEvento">

        <div class="form-group">
            <label>Nombre del evento</label>
            <input 
                type="text" 
                name="nombre" 
                class="input-full" 
                placeholder="Ej: AUXILIAR DE ENFERMERÍA"
                required
            >
        </div>

        <button type="submit" class="btn-guardar">
            Guardar
        </button>

    </form>

    <hr style="margin:30px 0;">

    <h3>📋 EVENTOS REGISTRADOS</h3>

    <ul class="lista-eventos">
        {% for e in eventos %}
        <li>
            {{ e.nombre }}
            <a href="/eliminar_evento/{{ e.nombre }}">❌</a>
        </li>
        {% endfor %}
    </ul>

</div>

<script>
document.getElementById("formEvento").addEventListener("submit", function(e){
    e.preventDefault();

    let formData = new FormData(this);

    fetch("/crear_evento", {
        method: "POST",
        body: formData
    })
    .then(res => res.json())
    .then(data => {
        mostrarToast("✔ " + data.mensaje);

        // limpiar formulario
        document.getElementById("formEvento").reset();
    });
});
</script>

{% endblock %}