{% extends "base.html" %}

{% block contenido %}

<h2>Bienvenido al sistema de certificados del Grupo Business Consulting</h2>
<p>Selecciona una opción del menú izquierdo</p>

<div class="logo-principal">
    <img src="/static/logo_principal.png" alt="Logo Principal">
</div>

<div class="logos-convenios">
    <img src="/static/logo1.png">
    <img src="/static/logo2.png">
    <img src="/static/logo3.png">
    <img src="/static/logo4.png">
    <img src="/static/logo5.png">
    <img src="/static/logo6.png">
</div>

{% endblock %}